

#imageWrapper {
  overflow: hidden;
  position: relative;
}

#imagePreview {
  position: absolute;
  cursor: grab;
  user-select: none;
}
.navbar {
    background-color: #f8f9fa;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.7); /* Reduce shadow for softer effect */
    margin-left: 70px;
    background:rgba(55, 120, 194, 0.8333);;
}

.navbar-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between; /* Ensures icon floats to the right */
}

.section-name {
    font-size: 40px;
    font-weight: 600;
    margin-left: 10px;
    cursor: default;
}

.notification-wrapper {
  position: relative;
  display: inline-block;
  margin-right: 20px;
  cursor: pointer;
}

.badge-number {
  position: absolute;
  top: -5px;      /* move upward */
  right: -5px;    /* move to the right */
  background: red;
  color: white;
  font-size: 12px;
  padding: 2px 6px;
  border-radius: 100%;
  font-weight: bold;
  line-height: 1;
  z-index: 10;
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.search-input {
  width: 50%;
  max-width: 500px;
  padding: 12px 15px;
  font-size: 16px;
  border: 3px solid #ccc;
  border-radius: 8px;
}

.table-container {
  height: 495px; /* Max height for approx. 6 rows */
  overflow-y: auto;
  margin: 60px 20px 0 120px;
  border: 1px solid #ccc;

}

/* Full table */
.custom-table {
  width: 100%;
  border-collapse: collapse;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  white-space: nowrap;
}

/* Sticky header fix */
.custom-table thead th {
  position: sticky;
  top: 0;
  background-color: #3778C2;
  color: white;
  z-index: 2;
  padding: 20px 5px;
  border: 2px solid black;
  font-size: 20px;

}

.custom-table tbody td {
  font-weight: 450;
}

/* Body cells */
.custom-table td {
  padding: 12px;
  border: 2px solid black;
  background-color: #EEF1FF;
}

/* Image */
.table-img {
  width: 50px;
  height: 50px;
  border-radius: 25%;
  object-fit: cover;
}

/* Buttons */
.btn {
  padding: 3px 8px;
  font-size: 14px;
  border: none;
  border-radius: 4px;
  margin: 2px;
  cursor: pointer;
  color: black;
}


.btn.view {
  background-color: #0dcaf0;
}
.btn.delete {
  background-color: #dc3545;
}

.btn.view:hover {
  background-color: #003d7e; /* Darker blue on hover */
}

.btn.delete:hover {
  background-color: #8a000e; /* Darker red on hover */
}


.add-resident-btn {
  float: right;
  background-color: #28a745;
  font-size: 16px;
  color: white;
  padding: 10px 18px;
  border: none;
  border-radius: 4px;
  font-weight: 500;
  cursor: pointer;
  margin-top: 10px;
  margin-right: 38px;
}

.add-resident-btn:hover {
  background-color: #218838;
}

/* Column widths */
.custom-table th:nth-child(1),
.custom-table td:nth-child(1) {
  width: 5%; /* ID */
}

.custom-table th:nth-child(2),
.custom-table td:nth-child(2) {
  width: 10%; /* IMAGE */
}

.custom-table th:nth-child(3),
.custom-table td:nth-child(3) {
  width: 23%; /* FULLNAME */
}

.custom-table th:nth-child(4),
.custom-table td:nth-child(4) {
  width: 18%; /* GMAIL */
}

.custom-table th:nth-child(5),
.custom-table td:nth-child(5) {
  width: 14%; /* PHONENUMBER */
}

.custom-table th:nth-child(6),
.custom-table td:nth-child(6) {
  width: 13%; /* HOUSEPOSITION */
}

.custom-table th:nth-child(7),
.custom-table td:nth-child(7) {
  width: 8%; /* HOUSE NO */
}

.custom-table th:nth-child(8),
.custom-table td:nth-child(8) {
  width: 10%; /* ACTION */
}


#cropperModal .modal-body {
  max-height: 70vh;
  overflow: hidden;
}